<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onestack.project.mapper.InquiryMapper">
	<resultMap id="InquiryResultMap" type="com.onestack.project.domain.Inquiry">
		<id property="inquiryNo" column="inquiry_no" />
		<result property="memberNo" column="member_no" />
		<result property="inquiryTitle" column="inquiry_title" />
		<result property="inquiryContent" column="inquiry_content" />
		<result property="inquiryFile" column="inquiry_file" />
		<result property="inquiryRegDate" column="inquiry_reg_date" />
		<result property="inquiryStatus" column="inquiry_status" />
		<result property="inquirySatisfaction" column="inquiry_satisfaction" />
	</resultMap>

	<resultMap id="InquiryAnswerResultMap" type="com.onestack.project.domain.InquiryAnswer">
		<id property="inquiryAnswerNo" column="inquiry_answer_no" />
		<result property="inquiryNo" column="inquiry_no" />
		<result property="inquiryAnswerContent" column="inquiry_answer_content" />
		<result property="inquiryAnswerRegDate" column="inquiry_answer_reg_date" />
		<result property="inquiryAnswerFile" column="inquiry_answer_file" />
	</resultMap>

	<resultMap id="MemberResultMap" type="com.onestack.project.domain.Member">
		<id property="memberNo" column="member_no" />
		<result property="name" column="name" />
		<result property="memberId" column="member_id" />
		<result property="kakaoId" column="kakao_id" />
		<result property="pass" column="pass" />
		<result property="nickname" column="nickname" />
		<result property="birth" column="birth" />
		<result property="gender" column="gender" />
		<result property="zipcode" column="zipcode" />
		<result property="address" column="address" />
		<result property="address2" column="address2" />
		<result property="email" column="email" />
		<result property="emailGet" column="email_get" />
		<result property="phone" column="phone" />
		<result property="memberRegDate" column="member_reg_date" />
		<result property="memberType" column="member_type" />
		<result property="memberStatus" column="member_status" />
		<result property="memberImage" column="member_image" />
		<result property="stack" column="stack" />
		<result property="stackName" column="stack_name" />
		<result property="withdrawalEndDate" column="withdrawal_end_date" />
		<result property="banEndDate" column="ban_end_date" />
		<result property="reportedCount" column="reported_count" />
		<result property="isAdmin" column="is_admin" />
		<result property="isSocial" column="is_social" />
		<result property="socialType" column="social_type" />
	</resultMap>

	<resultMap id="MemberWithInquiryResultMap" type="com.onestack.project.domain.MemberWithInquiry">
		<result property="inquiryNo" column="inquiryNo" />
		<result property="inquiryTitle" column="inquiryTitle" />
		<result property="inquiryRegDate" column="inquiryRegDate" />
		<result property="inquiryStatus" column="inquiryStatus" />
		<association property="member" resultMap="MemberResultMap" />
		<association property="inquiry" resultMap="InquiryResultMap" />
	</resultMap>

	<!-- 문의글 조회 -->
	<select id="getInquiry" parameterType="map" resultMap="MemberWithInquiryResultMap">
		SELECT i.*, m.*
		FROM Inquiry i JOIN Member m
		ON i.member_no = m.member_no
		<where>
			<if test="memberNo != null">
				m.member_no = #{memberNo}
			</if>
			<if test="type == 'title'">
				AND i.inquiry_title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				AND i.inquiry_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'nickname'">
				AND m.nickname LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		ORDER BY i.inquiry_reg_date DESC
	</select>



	<!-- 문의글 상세 조회 -->
	<select id="getInquiryDetail" resultMap="InquiryResultMap">
		SELECT * FROM Inquiry
		WHERE inquiry_no = #{inquiryNo}
	</select>

	<!-- 문의글 조회 (건우)
    <select id="getInquiry" parameterType="map" resultMap="MemberWithInquiryResultMap">
        SELECT i.*, m.*
        FROM Inquiry i JOIN Member m
        ON i.member_no = m.member_no
        ORDER BY i.inquiry_reg_date DESC
        LIMIT #{startRow}, #{num}
    </select> -->

	<!-- 문의글 수 조회 -->
	<select id = "getInquiryCount" parameterType = "map" resultType = "int">
		SELECT COUNT(inquiry_no)
		FROM Inquiry i JOIN Member m
		ON i.member_no = m.member_no
		<where>
			<if test = "type == 'title'">
				i.inquiry_title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test = "type == 'content'">
				i.inquiry_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test = "type == 'date'">
				i.inquiry_reg_date BETWEEN #{date1} AND #{date2}
			</if>
		</where>
	</select>

	<!-- 문의글 작성 -->
	<insert id="addInquiry" parameterType="Inquiry" useGeneratedKeys="true" keyProperty="inquiryNo">
		INSERT INTO Inquiry(member_no, inquiry_title, inquiry_content, inquiry_file)
		VALUES (#{memberNo}, #{inquiryTitle}, #{inquiryContent}, #{inquiryFile})
	</insert>

	<!-- 문의글 수정 -->
	<update id = "updateInquiry" parameterType = "Inquiry">
		UPDATE Inquiry
		SET inquiry_title = #{inquiryTitle}, inquiry_content = #{inquiryContent}, inquiry_file = #{inquiryFile}
		WHERE inquiry_no = #{inquiryNo}
	</update>

	<!-- 문의글 삭제 -->
	<delete id = "deleteInquiry" parameterType = "int">
		DELETE FROM Inquiry
		WHERE inquiry_no = #{inquiryNo}
	</delete>

	<!-- 문의글 만족/불만족 -->
	<update id="updateInquirySatisfaction" parameterType="map">
		UPDATE Inquiry
		SET inquiry_satisfaction = #{status}
		WHERE inquiry_no = #{inquiryNo}
	</update>

	<!-- 문의 답변 조회 -->
	<select id="getInquiryAnswer" parameterType="int" resultType="InquiryAnswer">
		SELECT i.*, m.*
		FROM InquiryAnswer i JOIN Member m
			ON i.member_no = m.member_no
		WHERE i.inquiry_no = #{inquiryNo}
		ORDER BY i.inquiry_answer_reg_date DESC
	</select>

	<!-- 문의 답변 추가 -->
	<insert id="addInquiryAnswer" parameterType="InquiryAnswer" useGeneratedKeys="true" keyProperty="inquiryAnswerNo">
		INSERT INTO InquiryAnswer(inquiry_no, member_no, inquiry_answer_content, inquiry_answer_file)
		VALUES(#{inquiryNo}, #{memberNo}, #{inquiryAnswerContent}, #{inquiryAnswerFile})
	</insert>

	<!-- 문의 답변 수정 -->
	<update id="updateInquiryAnswer" parameterType="com.onestack.project.domain.InquiryAnswer">
		UPDATE inquiry_answer
		SET inquiryAnswerContent = #{inquiryAnswerContent}
		WHERE inquiryAnswerNo = #{inquiryAnswerNo}
	</update>

	<update id="updateInquiryStatusToInProgress" parameterType="int">
		UPDATE Inquiry
		SET inquiry_status = '답변 중'
		WHERE inquiry_no = #{inquiryNo}
	</update>

	<update id="updateInquiryStatusToCompleted" parameterType="int">
		UPDATE Inquiry
		SET inquiry_status = '답변 완료'
		WHERE inquiry_no = #{inquiryNo}
	</update>

</mapper>