<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onestack.project.mapper.ProfessionalMapper">
	<resultMap id="MemberResultMap" type="com.onestack.project.domain.Member">
        <id property="memberNo" column="member_no" />
		<result property="name" column="name" />
		<result property="memberId" column="member_id" />
		<result property="kakaoId" column="kakao_id" />
		<result property="pass" column="pass" />
		<result property="nickname" column="nickname" />
		<result property="birth" column="birth" />
		<result property="gender" column="gender" />
		<result property="zipcode" column="zipcode" />
		<result property="address" column="address" />
		<result property="address2" column="address2" />
		<result property="email" column="email" />
		<result property="emailGet" column="email_get" />
		<result property="phone" column="phone" />
		<result property="memberRegDate" column="member_reg_date" />
		<result property="memberType" column="member_type" />
		<result property="memberImage" column="member_image" />
		<result property="stack" column="stack" />
		<result property="stackName" column="stack_name" />
		<result property="withdrawalEndDate" column="withdrawal_end_date" />
		<result property="banEndDate" column="ban_end_date" />
		<result property="reportedCount" column="reported_count" />
		<result property="isSocial" column="is_social" />
		<result property="socialType" column="social_type" />
    </resultMap>

	<resultMap id="ProfessionalResultMap" type="com.onestack.project.domain.Professional">
		<id property="proNo" column="pro_no" />
		<result property="memberNo" column="member_no" />
		<result property="categoryNo" column="category_no" />
		<result property="selfIntroduction" column="self_introduction" />
		<result property="career" column="career" />
		<result property="awardCareer" column="award_career" />
		<result property="studentCount" column="student_count" />
		<result property="rate" column="rate" />
		<result property="professorStatus" column="professor_status" />
		<result property="screeningMsg" column="screening_msg" />
		<result property="proDate" column="pro_date" />
		<result property="contactableTime" column="contactable_time" />
		<result property="averagePrice" column="average_price" />
		<result property="reviewCount" column="review_count" />
	</resultMap>
    
    <resultMap id="QuotationResultMap" type="com.onestack.project.domain.Quotation">
        <id property="quotationNo" column="quotation_no" />
        <result property="matchingNo" column="matching_no" />
        <result property="memberNo" column="member_no" />
        <result property="proNo" column="pro_no" />
        <result property="quotationContent" column="quotation_content" />
        <result property="quotationPrice" column="quotation_price" />
        <result property="quotationRegDate" column="quotation_reg_date" />
    </resultMap>
	
   	<resultMap id="MemberWithProfessionalResultMap" type="com.onestack.project.domain.MemberWithProfessional">
		<association property="member" resultMap="MemberResultMap" />
	    <association property="professional" resultMap="ProfessionalResultMap" />
	</resultMap>

	<resultMap id="MemberWithQutationResultMap" type="com.onestack.project.domain.MemberWithQuotation">
		<association property="member" resultMap="MemberResultMap" />
	    <association property="quotation" resultMap="QuotationResultMap" />
	</resultMap>

<!-- 전문가 신청 -->
<insert id = "addPro" parameterType = "Professional" useGeneratedKeys = "true" keyProperty = "proNo">
		INSERT INTO Professional (member_no, item_no, self_introduction, carrer, award_carrer, contactable_time)
        VALUES (#{memberNo}, #{itemNo}, #{selfIntroduction}, #{carrer}, #{awardCarrer}, #{contactableTime})
</insert>

<!-- 회원 타입 업데이트 -->
 <update id="updateMemberType" parameterType="int">
        UPDATE Member SET member_type = 1 WHERE member_no = #{memberNo}
    </update>

<!-- 전문가 정보 조회 -->
<select id = "getPro" parameterType = "int" resultMap = "MemberWithProfessionalResultMap">
	SELECT m.*, p.*
	FROM Member m JOIN Professional p
		ON m.member_no = p.member_no
	WHERE m.member_no = #{memberNo}
</select>

<!-- 전문가 고급 정보 추가 -->
<insert id = "addProAdvancedInfo" parameterType = "ProfessionalAdvancedInformation" useGeneratedKeys = "true" keyProperty = "proAdvancedNo">
	INSERT INTO ProfessionalAdvancedInformation(pro_no, item_no, pro_answer1, pro_answer2, pro_answer3, pro_answer4, pro_answer5)
	VALUES (#{proNo}, #{itemNo}, #{proAnswer1}, #{proAnswer2}, #{proAnswer3}, #{proAnswer4}, #{proAnswer5})
</insert>

<!-- 전문가의 고객 조회 -->
<select id = "getProClient" parameterType = "int" resultMap = "MemberWithQutationResultMap">
	SELECT m.*, q.*
	FROM Member m JOIN Quotation q
		ON m.member_no = q.member_no
	WHERE q.pro_no = #{proNo}
</select>

<!-- 전문가 리뷰 조회 -->
<select id = "getProReview" parameterType = "int" resultType = "Review">
	SELECT *
	FROM Review
	WHERE pro_no = #{proNo}
</select>



<!-- 포트폴리오, 이미지 조회 -->
<select id = "getPortfolio" parameterType = "int" resultType = "Portfolio">
	SELECT *
	FROM Portfolio p
	WHERE p.pro_no = #{proNo}
		AND visibility = 1
</select>

<!-- 포트폴리오 추가 -->
<insert id="addPortfolio" parameterType="Portfolio" useGeneratedKeys="true" keyProperty="portfolioNo">
        INSERT INTO Portfolio(pro_no, pro_advanced_no, portfolio_title, portfolio_content,
                              thumbnail_image, portfolio_file1, portfolio_file2, portfolio_file3,
                              portfolio_file4, portfolio_file5, portfolio_file6, portfolio_file7,
                              portfolio_file8, portfolio_file9, portfolio_file10)
        VALUES (#{proNo}, #{proAdvancedNo}, #{portfolioTitle}, #{portfolioContent},
                #{thumbnailImage}, #{portfolioFile1}, #{portfolioFile2}, #{portfolioFile3},
                #{portfolioFile4}, #{portfolioFile5}, #{portfolioFile6}, #{portfolioFile7},
                #{portfolioFile8}, #{portfolioFile9}, #{portfolioFile10})
</insert>

<!-- 포트폴리오 수정 -->
<update id = "updatePortfolio" parameterType = "Portfolio">
	UPDATE Portfolio
	SET portfolio_title = #{portfolioTitle}, portfolio_content = #{portfolioContent}
	WHERE portfolio_no = #{portfolioNo}
</update>

<!-- 포트폴리오 삭제 -->
<delete id = "deletePortfolio" parameterType = "int">
	DELETE FROM Portfolio
	WHERE portfolio_no = #{portfolioNo}
</delete>

<!-- 포트폴리오 공개/비공개 -->
<update id = "updatePortfolioStatus" parameterType ="map">
	UPDATE Portfolio
	SET visibility = #{status}
	WHERE portfolio_no = #{portfolioNo}
</update>

</mapper>