<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<head>
    <link th:href="@{/css/mainCommunity.css}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content" class="container py-5">
    <script src="js/communityReply.js"></script>
    <!-- 헤더 섹션 -->
    <div class="row mt-5">
        <div class="col-md">
            <h2 class="fw-bold">커뮤니티</h2>
            <p class="text-muted">다양한 분야의 사람들과 활발하게 소통해보세요!</p>
        </div>
    </div>

    <!-- 탭 섹션 -->
    <div class="row my-5">
        <div class="col-md d-flex align-items-center justify-content-center">
            <div class="sort-control float-end">
                <label class="sort-option">
                    <input type="radio" name="sort" checked>
                    <a href="/community" class="text-center me-5 text-decoration-none fw-bold">Community</a>
                </label>
                <label class="sort-option">
                    <input type="radio" name="sort">
                    <a href="/QnA" class="text-center ms-5 text-decoration-none">Q&A</a>
                </label>
            </div>
        </div>
    </div>

    <!-- 검색 및 필터 섹션 -->
    <div class="row my-5">
        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <a th:href="@{communityWriteForm}" class="btn custom-button">
                <i class="bi bi-pencil-square me-2"></i>글쓰기
            </a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <form name="searchForm" id="searchForm" action="community" class="row justify-content-center my-3">
                <div class="d-flex align-items-center">
                    <input type="text" name="keyword" class="search-bar" placeholder="검색어를 입력하세요" style="border: 2px solid #215EA3; border-radius: 25px; padding: 10px 15px; width: 500px; font-size: 16px;">
                    <input type="submit" value="검색" class="search-button" style="margin-left: -50px; border: none; background: none; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.442.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z" />
                    </svg>
                    </input>
                    <div class="col-auto">
                        <select name="type" class="form-select">
                            <option value="communityBoardTitle">제목</option>
                            <option value="communityBoardContent">내용</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <div class="segment-control float-end">
                <input type="radio" name="sort" id="sort-popular" checked>
                <input type="radio" name="sort" id="sort-recommended">
                <label for="sort-popular">최신순</label>
                <label for="sort-recommended">추천순</label>
                <div class="segment-indicator"></div>
            </div>
        </div>
    </div>

    <!--/* 검색 요청일 경우 표시 */-->
    <th:block th:if="${searchOption}">
        <div class="row my-3">
            <div class="col text-center"> "[[${ keyword }]]" 검색 결과 </div>
        </div>
    </th:block>

    <!-- 게시물 리스트 -->
    <div class="row g-4 mt-5">
        <th:block th:if="${searchOption and #lists.isEmpty(cList)}" class="col-12 text-center">
            <p class="text-center">아직 올라온 게시글이 없습니다.</p>
        </th:block>

        <th:block th:if="${not searchOption and #lists.isEmpty(cList)}" class="col-12 text-center">
            <p class="text-center">아직 올라온 게시글이 없습니다.</p>
        </th:block>


        <div th:if="${searchOption and not #lists.isEmpty(cList)}" class="col-12 col-lg-8 mx-auto">
            <th:block th:each="community : ${cList}">
                <a th:href="@{communityDetail(communityBoardNo=${community.communityBoardNo}, pageNum=${currentPage})}" class="text-decoration-none text-dark">
                    <div class="row mx-4">
                        <div class="col-8">
                            <div class="row fw-bold" th:text="${community.communityBoardTitle}"></div>
                            <div class="row">
                                <div class="ql-editor content-preview" th:utext="${community.communityBoardContent}"
                                     style="overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    max-height: 3em;
                    line-height: 1.5em;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex gap-3">
                                        <span><i class="bi bi-chat"></i> 댓글 <span th:text="${community.communityReplyCount}">0</span></span>
                                        <span><i class="bi bi-heart"></i> 좋아요 <span th:text="${community.communityBoardLike}">0</span></span>
                                        <span><i class="bi bi-hand-thumbs-down"></i> 싫어요 <span th:text="${community.communityBoardDislike}">0</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex flex-column align-items-end">
                                <!-- 이미지 -->
                                <div th:if="${community.communityFile != null}" style="width: 100%; max-width: 120px;"> <!-- 컨테이너 크기 제한 -->
                                    <div style="position: relative; width: 100%; padding-bottom: 100%;"> <!-- 1:1 비율 유지를 위한 컨테이너 -->
                                        <img th:src="@{/uploads/{filename}(filename=${community.communityFile})}"
                                             class="rounded"
                                             style="position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;"
                                             alt="게시물 이미지">
                                    </div>
                                </div>
                                <!-- 날짜 -->
                                <div class="mt-2">
                                    <small class="text-muted" th:text="${#dates.format(community.communityBoardRegDate, 'yyyy.MM.dd')}">2024.03.21</small>
                                </div>
                            </div>
                        </div>

                <div class="row">
                    <div class="col">
                        <hr class="my-4 opacity-25">
                    </div>
                </div>
                    </div>
                    </a>
            </th:block>
        </div>
    </div>

                <div th:if="${not searchOption and not #lists.isEmpty(cList)}" class="col-12 col-lg-8 mx-auto">
                    <th:block th:each="community : ${cList}">
                        <a th:href="@{communityDetail(communityBoardNo=${community.communityBoardNo}, pageNum=${currentPage})}" class="text-decoration-none text-dark">
                            <div class="row mx-4">
                                <div class="col-8">
                                    <div class="row fw-bold" th:text="${community.communityBoardTitle}"></div>
                                    <div class="row">
                                        <div class="ql-editor content-preview" th:utext="${community.communityBoardContent}"
                                             style="overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    max-height: 3em;
                    line-height: 1.5em;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="d-flex gap-3">
                                                <span><i class="bi bi-chat"></i> 댓글 <span th:text="${community.communityReplyCount}">0</span></span>
                                                <span><i class="bi bi-heart"></i> 좋아요 <span th:text="${community.communityBoardLike}">0</span></span>
                                                <span><i class="bi bi-hand-thumbs-down"></i> 싫어요 <span th:text="${community.communityBoardDislike}">0</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex flex-column align-items-end">
                                        <!-- 이미지 -->
                                        <div th:if="${community.communityFile != null}" style="width: 100%; max-width: 120px;"> <!-- 컨테이너 크기 제한 -->
                                            <div style="position: relative; width: 100%; padding-bottom: 100%;"> <!-- 1:1 비율 유지를 위한 컨테이너 -->
                                                <img th:src="@{/uploads/{filename}(filename=${community.communityFile})}"
                                                     class="rounded"
                                                     style="position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;"
                                                     alt="게시물 이미지">
                                            </div>
                                        </div>
                                        <!-- 날짜 -->
                                        <div class="mt-2">
                                            <small class="text-muted" th:text="${#dates.format(community.communityBoardRegDate, 'yyyy.MM.dd')}">2024.03.21</small>
                                        </div>
                                    </div>
                                </div>

                                    <div class="row">
                                        <div class="col">
                                            <hr class="my-4 opacity-25">
                                        </div>
                                    </div>
                                </div>
                        </a>
                    </th:block>
                </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${ startPage > pageGroup }">
                        <a class="page-link" th:href="@{|?pageNum=${startPage - 1}|}">Pre</a>
                    </li>
                    <li th:each="num : ${ #numbers.sequence(startPage, endPage) }"
                        th:classappend="${num == currentPage} ? 'active'"
                        class="page-item" aria-current="page">
                        <th:block th:if="${num != currentPage}">
                            <a th:text="${num}" th:href="@{|?pageNum=${num}|}"
                               class="page-link"></a>
                        </th:block>
                        <th:block th:unless="${num != currentPage}">
                            <span th:text="${num}" class="page-link"></span>
                        </th:block>
                    </li>
                    <li class="page-item" th:if="${endPage < pageCount}">
                        <a class="page-link" th:href="@{|?pageNum=${startPage + pageGroup}|}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</th:block>
</html>