<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>견적 요청 완료</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/mainStyle.css}" rel="stylesheet">
  <style>
    .container {
      margin-top: 50px;
      text-align: center;
    }
    .btn-close {
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">견적 요청이 완료되었습니다!</h4>
    <p>당신의 요청이 성공적으로 제출되었습니다. <br> 전문가와 연락이 될 때까지 기다려 주세요.</p>
  </div>
  <button type="button" class="btn btn-primary custom-button" onclick="closeWindow()">창 닫기</button>
</div>

<script>
  // 창 닫기 함수
  function closeWindow() {
    window.close(); // 창을 닫습니다.
  }
</script>
</body>
</html>
