<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}" lang="ko">
<head>
    <link th:href="@{/css/findForm.css}" rel="stylesheet">
    <link th:href="@{/css/mainStyle.css}" rel="stylesheet">
</head>
<div layout:fragment="content">
    <div class="container mt-5">
        <!-- 상단 제목 섹션 -->
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="fw-bold">고수 찾기</h2>
                <p class="text-muted">원하는 서비스의 고수를 찾아보세요</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <!-- 카테고리 선택 및 초기화 -->
                <div class="category-section mb-4">
                    <select class="form-select mb-2" id="categorySelect">
                        <option value="" th:text="'카테고리 선택'" th:selected="${itemNo == null}" ></option>
                        <option th:value="11" th:text="'기획'" th:selected="${itemNo == 11}"></option>
                        <option th:value="12" th:text="'웹'" th:selected="${itemNo == 12}"></option>
                        <option th:value="13" th:text="'소프트웨어'" th:selected="${itemNo == 13}"></option>
                        <option th:value="14" th:text="'안드로이드'" th:selected="${itemNo == 14}"></option>
                        <option th:value="15" th:text="'iOS'" th:selected="${itemNo == 15}"></option>
                        <option th:value="16" th:text="'게임'" th:selected="${itemNo == 16}"></option>
                        <option th:value="17" th:text="'AI'" th:selected="${itemNo == 17}"></option>
                        <option th:value="18" th:text="'QA 및 테스트'" th:selected="${itemNo == 18}"></option>
                        <option th:value="21" th:text="'가공 및 라벨링'" th:selected="${itemNo == 21}"></option>
                        <option th:value="22" th:text="'데이터 복구'" th:selected="${itemNo == 22}"></option>
                        <option th:value="23" th:text="'크롤링'" th:selected="${itemNo == 23}"></option>
                        <option th:value="24" th:text="'DB 구축'" th:selected="${itemNo == 24}"></option>
                        <option th:value="25" th:text="'통계분석'" th:selected="${itemNo == 25}"></option>
                    </select>
                    <button type="button" class="btn btn-outline-secondary w-100" id="resetCategory">
                        <i class="bi bi-arrow-counterclockwise"></i> 초기화
                    </button>
                </div>

                <!-- 카테고리 설문조사 -->
                <div class="category-survey p-3 border rounded" id = "categoryFilter">
                    <h5 class="mb-3">필터링</h5>
                    <th:block th:if="${not #lists.isEmpty(filterList)}">
                        <div th:block th:each="filter, status: ${filterList}">
                            <div class="row mb-2">
                                <div class="col">
                                    <!-- Survey Question -->
                                    <div class="my-2 fw-bold" style="font-size: 15px;" th:text="${filter.filter.filterQuestion}"></div>

                                    <!-- Radio Buttons for Options -->
                                    <div class="form-check" th:each="option : ${#strings.arraySplit(#strings.replace(filter.filter.filterOption, '\n', ''), ',')}">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio"
                                                   th:name="'proAnswer' + ${filter.filter.filterQuestionNo}"
                                                   th:value="${option.trim()}">
                                            <span th:text="${option.trim()}"></span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>

                </div>
            </div>

            <!-- 검색 및 결과 -->
            <div class="col-8">
                <div class="row mb-4">
                    <div class="col-md-4 text-center" id="overallAveragePrice" style="margin: 20px 0;">전체 평균 가격: [[${overallAveragePrice}]]원</div>
                    <div class="col-md-3 offset-md-5">
                        <select class="form-select" id="sortSelect">
                            <option selected value="">정렬 기준</option>
                            <option value="review">리뷰 많은순</option>
                            <option value="rating">평점 높은순</option>
                            <option value="price_low">가격 낮은순</option>
                            <option value="price_high">가격 높은순</option>
                        </select>
                    </div>
                </div>

                <!-- 고수 목록 -->
                <div class="row">
                    <div th:if="${not #lists.isEmpty(proList)}" >
                        <div class="col-md-12 mb-4" id="proListContainer">
                            <div th:block th:each="pro, status: ${proList}" class="card h-100 shadow-sm mb-2">
                                <div class="row card-body"
                                     th:attr="data-url=@{/proDetail(proNo=${pro.professional.proNo})}"
                                     onclick="navigateToUrl(this)">
                                    <div class="col-10">
                                        <div>
                                            <h5 th:text="${pro.member.name}" class="card-title mb-2">전문가 이름</h5>
                                            <span th:text="${pro.category.itemTitle}" class="card-subtitle text-muted mb-2">카테고리명</span> <br>
                                            <span th:text="${pro.professional.career}" class="badge bg-success">전문가 경력</span> <br>
                                            <span th:text="${pro.professional.selfIntroduction}" class="card-text">전문가 자기소개</span> <br>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <span th:text="${pro.professional.rate} + ' (' + ${pro.professional.reviewCount} + ')'" class="ms-1 mb-1">전문가 별점 (리뷰 수)</span> <br>
                                            <div class="price">평균 가격: <strong>[[ ${pro.professional.averagePrice} ]]원</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-2 align-items-center">
                                        <div class = "row ms-1 mb-4">
                                            <img  class="rounded-circle" style="width: 100px; height: 100px;" alt="프로필" th:src="${pro.member.memberImage}">
                                        </div>
                                        <div class = "row">
                                            <button type="button" class="btn custom-button" id = "btnEstimation" style="background-color: #215EA3">견적 요청</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = target></div>

            </div>
        </div>

    </div>

<script th:src="@{/js/findPro.js}"></script>
</div>


</html>