<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>견적서</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="/css/pay.css" rel="stylesheet">
</head>
<body>
<div class="memo">
  <div class="memo-header">
    <h1>견적서</h1>
    <p>견적 번호: 123456</p>
  </div>

  <table class="memo-table">
    <tr>
      <th>회원 이름</th>
      <td>회원</td>
    </tr>
    <tr>
      <th>전문가 이름</th>
      <td>전문가</td>
    </tr>
    <tr>
      <th>견적 내용</th>
      <td>웹사이트 개발 및 유지 보수, 추가 기능 개발(예: 결제 연동, 회원관리 기능 등)</td>
    </tr>
    <tr>
      <th>견적 금액</th>
      <td>₩2,500,000</td>
    </tr>
    <tr>
      <th>견적 확정일</th>
      <td>2025-01-25</td>
    </tr>
  </table>

  <div class="memo-footer">
    <button class="btn-confirm">확인 및 결제</button>
  </div>
</div>


</body>
</html>
