<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<head>
    <link th:href="@{/css/proConversion.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div layout:fragment="content"
         class="d-flex align-items-center justify-content-center"
         style="min-height: 100vh;">
        <div id="applicationFormContainer"
             class="container d-flex justify-content-center">
            <!-- 왼쪽: 전문가 전환 신청서 -->
            <div id="applicationForm" class="col-md-6">
                <div class="card" style="width: 100%;">
                    <form action="/proConversion/submit" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="memberNo" th:value="${session.member.memberNo}">
                        <input type="hidden" name="memberType" value="1">

                        <!-- 이름 -->
                        <div class="row">
                            <div class="form-field">
                                <label for="name">이름</label>
                                <input id="name" name="name" type="text" class="form-control mb-2" maxlength="5" readonly
                                       th:value="${session.member.name}">
                            </div>
                        </div>
                        <!-- 닉네임 -->
                        <div class="row">
                            <div class="form-field">
                                <label for="memberId">닉네임</label>
                                <input id="memberId" name="memberId" type="text" class="form-control" readonly
                                       th:value="${session.member.memberId}">
                            </div>
                        </div>

                        <!-- 전문분야 -->
                        <div class="row mt-3">
                            <div class="form-field">
                                <label for="itemNo">전문분야 *</label>
                                <select class="form-select mb-3" id="itemNo" name="itemNo" required>
                                    <option value="" hidden>전문분야를 선택해주세요.</option>
                                    <option value="11">기획</option>
                                    <option value="12">웹</option>
                                    <option value="13">소프트웨어</option>
                                    <option value="14">안드로이드</option>
                                    <option value="15">iOS</option>
                                    <option value="16">게임</option>
                                    <option value="17">AI</option>
                                    <option value="18">QA 및 테스트</option>
                                </select>
                            </div>
                        </div>

                        <!-- 자기소개 -->
                        <div class="form-field">
                            <label for="selfIntroduction">자기소개 *</label>
                            <input type="text" class="form-control" id="selfIntroduction" name="selfIntroduction" required>
                            <small class="text-muted d-block">자기소개를 10자 이상 입력해주세요.</small>
                        </div>

                        <!-- 경력 -->
                        <div class="form-field my-5">
                            <div class="d-flex justify-content-between align-items-center">
                                <label for="carrer">경력 *</label>
                                <button type="button" id="addCarrerBtn" class="btn btn-outline-dark btn-sm mb-2">추가하기</button>
                            </div>
                            <div id="carrerContainer">
                                <input type="text" class="form-control mb-2" name="carrer" required>
                            </div>
                        </div>

                        <!-- 수상경력 -->
                        <div class="form-field my-5">
                            <div class="d-flex justify-content-between align-items-center">
                                <label for="awardCarrer">수상경력 *</label>
                                <button type="button" id="addAwardCarrerBtn" class="btn btn-outline-dark btn-sm mb-2">추가하기</button>
                            </div>
                            <div id="awardsContainer">
                                <input type="text" class="form-control" name="awardCarrer">
                            </div>
                        </div>

                        <!-- 설문조사 및 포트폴리오 -->
                        <div class="form-field my-5">
                            <div class="d-flex justify-content-between align-items-center">
                                <label for="portfolio">포트폴리오 *</label>
                                <button type="button" id="addPortfolioBtn" class="btn btn-outline-dark btn-sm mb-2">추가하기</button>
                            </div>
		                        <label for="portfolioTitle">포트폴리오 제목 *</label>
		                        <input type="text" class="form-control mb-2" name="portfolioTitle" required readonly>
		                        <label for="portfolioContent">포트폴리오 내용 *</label>
		                        <textarea class="form-control mb-2" name="portfolioContent" required readonly></textarea>
								<!-- 썸네일 이미지 표시 -->
								<label for="thumbnailImage">썸네일 이미지</label>
								<!-- <input type="text" class="form-control mb-2" id="thumbnailImage" name="thumbnailImage" required readonly> -->
								<div id="thumbnailImageDisplay" class="text-muted"></div>
								
								<!-- 포트폴리오 파일 표시 -->
								<label for="portfolioFile1">포트폴리오 이미지</label>
								<ul id="portfolioFilesDisplay" class="text-muted"></ul>

                        </div>
		                        <label for="proAnswer1">전문가 질문 1 *</label>
		                        <input type="text" class="form-control mb-2" name="proAnswer1" required readonly>
		                        <label for="proAnswer2">전문가 질문 2 *</label>
		                        <input type="text" class="form-control mb-2" name="proAnswer2" required readonly>
		                        <label for="proAnswer3">전문가 질문 3 *</label>
		                        <input type="text" class="form-control mb-2" name="proAnswer3" readonly>
		                        <label for="proAnswer4">전문가 질문 4 *</label>
		                        <input type="text" class="form-control mb-2" name="proAnswer4" readonly>
		                        <label for="proAnswer5">전문가 질문 5 *</label>
		                        <input type="text" class="form-control mb-2" name="proAnswer5" readonly>
                        <button type="submit" class="custom-button2 w-100 my-5">심사 요청</button>
                    </form>
                </div>
            </div>

					 <!-- 설문조사 로드 -->
            <div id="surveyContainer" class="col-md-6">
                <div>
                    <h5>설문조사 답변</h5>
                    <div th:each="entry : ${surveyAnswers}">
                        <p>질문 번호: <span th:text="${entry.key}"></span></p>
                        <p>답변: <span th:text="${entry.value}"></span></p>
                    </div>
                    <h5>포트폴리오 정보</h5>
                    <p>제목: <span th:text="${portfolioTitle}"></span></p>
                    <p>내용: <span th:text="${portfolioContent}"></span></p>
                    <p>썸네일: <span th:text="${thumbnailImage}"></span></p>
                    <p>포트폴리오 이미지: <span th:text="${portfolioFile1}"></span></p>
                </div>
            </div>
        </div>
    </div>
    
	<th:block layout:fragment="script">
        <script th:src="@{/js/proConversion.js}"></script>
    </th:block> 

</body>
</html>
