<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}" lang="ko" style="scroll-behavior: smooth;">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link th:href="@{/css/proDetail.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div th:each="pro, status: ${proList}" class="container mt-2">
        <div class="row">
            <!-- 전문가 프로필 -->
            <div class="col-md-9">
                <div class="profile-container p-3" id="expertInfo">
                    <div class="profile-header d-flex align-items-center">
                        <div class="profile-image">
                            <img src="https://placehold.co/130x130" alt="전문가 이미지" class="img-fluid">
                        </div>
                        <div class="profile-info ml-3">
                            <div class="d-flex align-items-center mb-3">
                                <h4 class="font-weight-bold ml-3">[[ ${pro.member.nickname} ]]</h4>
                            </div>

                            <div class="rounded my-2 ml-2 mt-3 p-2 border-top">
                                <div class="d-flex mt-2 justify-content-between">
                                    <span class="mr-3">고용 횟수 &nbsp;
                                    <span style="color: grey;">|&nbsp;&nbsp;[[ ${pro.professional.studentCount} ]]</span></span>
                                    <span class="mx-3">리뷰 평균 평점 ⭐️&nbsp;&nbsp;<span style="color: grey;">|&nbsp;&nbsp;[[ ${pro.professional.rate} ]]</span></span>
                                    <span class="ml-3">경력 &nbsp;
                                    <span style="color: grey;">|&nbsp;&nbsp;[[ ${pro.professional.career} ]]</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 전문가의 상세 정보 -->
                    <div class="details mt-4">
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em; color: #215EA3;">고수 정보</h4>
                        <ul class="list-unstyled mb-3 mt-3">
                            <li class="mb-2 mt-3">[[ ${pro.professional.selfIntroduction} ]]</li>
                            <li class="mb-2 mt-3"><i class="bi bi-clock mr-2" style="font-size: 22px;"></i>
                                연락 가능한 시간 : [[ ${pro.professional.contactableTime} ]]
                            </li>
                            <li class="mb-2 mt-3"><i class="bi bi-credit-card mr-2" style="font-size: 22px;"></i>
                                결제 수단 : 원스택페이, 카드결제, 계좌이체, 헌금결제 가능
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em; color: #215EA3;">제공 서비스</h4>
                        <div class="service-category mb-2 mt-3">상세 카테고리 1</div>
                        <div class="service-category mb-2 mt-3">상세 카테고리 2</div>
                    </div>
                    <div>
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em; color: #215EA3;">경력</h4>
                        <p><i class="bi bi-briefcase mr-2" style="font-size: 22px;"></i>[[ ${pro.professional.career} ]]</p>
                    </div>
                    <div>
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em; color: #215EA3;">수상 경력</h4>
                        <div class="service-category mb-2 mt-3">[[ ${pro.professional.awardCareer} ]]</div>
                    </div>
                    <div class="profile-image" id="portfolio">
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em; color: #215EA3;">전문가 포트폴리오</h4>
                        <img src="https://placehold.co/100x100" alt="전문가 포트폴리오" class="img-fluid mt-3">
                    </div>

                    <!-- 리뷰 목록 -->
                    <div class="review-list" id="review">
                        <h4 class="mt-5 font-weight-bold" style="font-size: 1.3em;">리뷰 목록</h4>
                        <div class="review-item">
                            <div class="review-header">
                                <span class="review-rating">⭐️⭐️⭐️⭐️⭐️</span>
                                <span class="ml-2 pl-2 border-left text-secondary small">작성자 이름</span>
                                <span class="review-dateml-2 pl-2 border-left text-secondary small">상세 카테고리</span>
                                <span class="review-date float-right text-secondary small">작성일자</span>
                            </div>
                            <div class="review-content">
                                <p class="mb-2 ml-1 mt-3">리뷰 내용</p>
                            </div>
                        </div>
                    </div>

                    <!-- 리뷰 목록 -->
                    <!--      <div class="review-summary border-top mt-4" id="review">
                              <div class="d-flex mt-3">
                                  <h4 class="font-weight-bold font-size: 2.0em;">⭐️⭐️⭐️⭐️⭐️</h4>
                                  <div class="mt-2">
                                      <span class="ml-2 pl-2 border-left text-secondary small">평균 별점: [[ ${pro.professional.rate} ]]</span>
                                      <span class="ml-2 pl-2 border-left text-secondary small">총 리뷰 개수 : [[ ${pro.professional.reviewCount} ]]</span>
                                  </div>
                              </div>
                              <div class="d-flex justify-content-end">
                                  <button type="button" class="btn btn-custom" id="toggleReviewForm" style="width: 100px;">
                                      리뷰 작성
                                  </button>
                              </div>
                          </div>-->

                    <!-- 리뷰 작성 폼 시작-->
                    <!--       <div class="review-form" id="reviewForm"
                                style="display: none; opacity: 0; transform: translateY(-20px); transition: opacity 0.5s, transform 0.5s;">
                               <div class="form-group">
                                   <div class="d-flex align-items-center">
                                       <label for="reviewRating" class="mr-2">평점</label>
                                       <select class="form-control" id="reviewRating" style="width: 22%;">
                                           <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                                           <option value="4">⭐️⭐️⭐️⭐️</option>
                                           <option value="3">⭐️⭐️⭐️</option>
                                           <option value="2">⭐️⭐️</option>
                                           <option value="1">⭐️</option>
                                       </select>
                                       <button type="button" class="btn btn-custom ml-auto" id="submitReview"
                                               style="width: 100px;">리뷰 등록
                                       </button>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <textarea class="form-control review-textarea" id="reviewText" rows="5"
                                             placeholder="리뷰를 작성하세요..."></textarea>
                               </div>
                           </div>--> <!-- 리뷰작성 폼 끝 -->

                </div>
            </div>

            <!-- 메뉴 바 -->
            <div class="col-md-3">
                <div class="border-left" id="menu-bars" style="position: sticky; top: 0; z-index: 1000;">
                    <div class="menu-bar">
                        <ul class="list-unstyled">
                            <li class="mt-2"><a href="#expertInfo" style="color: black;">고수 정보</a></li>
                            <li class="mt-4"><a href="#portfolio" style="color: black;">포트폴리오</a></li>
                            <li class="mt-4"><a href="#review" style="color: black;">리뷰</a></li>
                        </ul>
                    </div>
                    <div class="menu-bar mt-2 d-flex flex-column justify-content-center align-items-center">
                        <p class="mt-2">지금 견적을 요청해보세요.</p>
                        <button type="button" style="border-color: black" class="btn custom-button" id = "btnEstimation2" th:attr="data-pro-no=${pro.professional.proNo}">견적 요청</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        /* 견적요청 버튼 상수화 */
        const btnEstimation2 = document.getElementById("btnEstimation2");

        /* 견적요청 버튼 클릭 시 함수 실행 */
        btnEstimation2.addEventListener("click", estimationForm);

        /* 견적요청 함수 */
        function estimationForm() {
            // data-* 속성 값 가져오기
            let proNo = btnEstimation2.dataset.proNo;
            console.log(proNo);

            const url = `/estimationForm?proNo=${proNo}`;

            // 새 창 열기
            window.open(url, "estimationForm", "toolbar=no, scrollbars=no, resizable=no, status=no, menubar=no, width=550, height=700");
        }
    </script>
</th:block>
</html>
