<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 조회</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminPage.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- 전체를 감싸는 컨테이너 추가 -->
    
    <div class="d-flex flex-column min-vh-100">
        <!-- 테이블을 감싸는 영역 -->
        <div class="flex-grow-1">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col"><input type="checkbox"/></th>
                        <th scope="col" class="sortable" data-sort="name">
                            이름
                    		<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col" class="sortable" data-sort="id">
                            아이디
							<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col" class="sortable" data-sort="type">
                            회원 유형
							<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col" class="sortable" data-sort="email">
                            이메일
							<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col" class="sortable" data-sort="status">
                            상태
							<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col" class="sortable" data-sort="date">
                            가입일
							<i class="sort-icon">
    							<span class="sort-up active">▲</span>
    							<span class="sort-down">▼</span>
							</i>
                        </th>
                        <th scope="col">관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${member}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${member.name}">이름</td>
                        <td th:text="${member.memberId}">아이디</td>
                        <td th:text="${member.memberType == 0 ? '초보자' : (member.memberType == 1 ? '전문가' : '-')}">회원 타입</td>
                        <td th:text="${member.email}">이메일</td>
                        <td th:text="${member.memberType == 3? '비활성화' : (member.memberType == 4 ? '정지' : '활성화')}">활성화</td>
                        <td th:text="${#dates.format(member.memberRegDate, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                        <td><button class="btn btn-outline-dark btn-sm member-edit-btn">정보 관리</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- 페이지네이션을 하단에 고정 -->
        <div class=" mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center my-3">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
	<div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="memberModalLabel">회원 상세 정보</h5>
	                <button type="button" class="btn btn-outline-secondary close-custom-btn" data-modal-id="memberModal">X</button>
	            </div>
	            <div class="modal-body">
                    <form id="memberForm">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label text-muted small">이름</label>
                                <input type="text" class="form-control" id="memberName" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label text-muted small">아이디</label>
                                <input type="text" class="form-control" id="memberId" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label text-muted small">이메일</label>
                                <input type="email" class="form-control" id="memberEmail" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label text-muted small">회원 유형</label>
                                <select class="form-select" id="memberType" name="memberType">
                                    <option value="-" hidden>제재 당한 회원입니다.</option>
                                    <option value="0">초보자</option>
                                    <option value="1">전문가</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label text-muted small">상태</label>
                                <select class="form-select" id="memberStatus" name="memberStatus">
                                    <option value="2">활성화</option>
                                    <option value="3">비활성화</option>
                                    <option value="4">정지</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label text-muted small">가입일</label>
                                <input type="text" class="form-control" id="joinDate" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-Secondary close-custom-btn" data-modal-id="memberModal">취소</button>
                    <button type="button" class="btn btn-outline-primary" id="editInformation">변경사항 저장</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
