<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin_header" class="col-10">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center bg-white py-3 px-4 border-bottom">
        <h3>대시보드</h3>
        <div>
            <span class="fw-bold mx-3">[[ ${session.member.nickname} ]]</span>
            <a class="btn btn-outline-dark btn-sm" href="mainPage">메인 페이지</a>
            <a class="btn btn-outline-dark btn-sm" href="/logout">로그아웃</a>
        </div>
    </div>
    
    <!-- 검색 및 필터링 조회 -->  
<div class="container mt-4">
    <h4 class="mb-3">회원 조회</h4>
    <!-- 콘텐츠 영역 -->
    <div class=" text-center" id="dashboard-content">
        <h2>카테고리를 선택하여 조회하세요.</h2>
    </div>
</div>
</div>
</html>
