:root {
    --primary-color: #215EA3;
    --hover-color: #ffffff;
    --secondary-color: #f8f9fa; /* 배경색 */
}

.text-center {
    text-align: center;
}

body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

.form-title {
    font-size: 32px;
    font-weight: 600;
    color: #215EA3;
    text-align: center;
    margin-bottom: 30px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    font-weight: bold;
}

.form-field input,
.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-field input:focus,
.form-field select:focus {
    border-color: #215EA3;
    box-shadow: 0 0 5px rgba(33, 94, 163, 0.5);
}

.form-field input[type="radio"],
.form-field input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-field .gender-options input {
    margin-right: 20px;
}

.join-form-field {
    margin-bottom: 15px;
}

.join-page-body {
    background-color: #f9f9f9;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.btn-primary {
    background-color: #4A90E2;
    border: none;
}

.btn-primary:hover {
    background-color: #357ABD;
}

.form-floating label {
    color: #6c757d;
}

.form-floating input:focus {
    box-shadow: none;
    border-color: #4A90E2;
}

.kakao-login img {
    width: 100%;
    max-width: 250px;
}

.pw-match-message {
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

/* 버튼 스타일 */
.custom-join-button {
    background-color: #ffffff;
    color: #215EA3;
    border: 2px solid #215EA3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-join-button:hover {
    background-color: #215EA3;
    color: #ffffff;
    border-color: #ffffff;
}

.custom-join-button:checked {
    background-color: #215EA3;
    color: #ffffff;
    border-color: #ffffff;
}

/* 나머지 버튼 스타일 */
.custom-join-button2 {
    background-color: #215EA3;
    color: white;
    border: 2px solid #215EA3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-join-button2:hover {
    background-color: #ffffff;
    color: #215EA3;
    border-color: #215EA3;
}

.custom-join-button2:checked {
    background-color: #ffffff;
    color: #215EA3;
    border-color: #215EA3;
}

.join-form-field {
    margin-bottom: 15px;
}

.join-page-body {
    background-color: #f9f9f9;
}