<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">
<head>
    <style>

    </style>
</head>
<body>
  <div layout:fragment="content">
    <div class="row g-0">
	    <div class="col-md-1"></div>
      <div class="col-md-10 mt-3 border-bottom">
        <h1 class="fw-bold mb-4">회원 문의</h1>
      </div>

      <div class="row g-0 mt-5">
		    <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2 class="fw-bold" th:text="${inquiry.inquiryTitle}">문의 제목</h2>
          <p th:text="${inquiry.inquiryContent}">문의 내용이 여기에 표시됩니다.</p>
          <p>작성자: <span th:text="${inquiry.memberName}">사용자 이름</span></p>
          <p>작성일: <span th:text="${#dates.format(inquiry.inquiryRegDate, 'yyyy-MM-dd')}">2023-10-01</span></p>
        </div>
		    <div class="col-md-1"></div>
      </div>

      <div class="row g-0 mt-5">
		    <div class="col-md-1"></div>
        <div class="col-md-10">
          <h3 class="fw-bold">답변</h3>
          <p th:text="${inquiry.answerContent}">답변 내용이 여기에 표시됩니다.</p>
        </div>
		    <div class="col-md-1"></div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>
</html>