<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
    <title>고객센터 내 문의글 확인 페이지</title>
    <link th:href="@{/css/Inquriy.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-1"></div>
            <div class="col-md-10 mt-3 border-bottom">
                <h1 class="fw-bold mt-3 mb-4">내 문의글</h1>
                <div class="col-md-1"></div>
            </div>
            <!-- 히든 폼 시작 -->
            <form name="checkForm" id="checkForm" action="/memberInquiry/delete" method="post">
                <input type="hidden" name="inquiryNo" th:value="${inquiry.inquiryNo}"/>
            </form>
            <form name="updateForm" id="updateForm" action="/memberInquiry/updateForm" method="post">
                <input type="hidden" name="inquiryNo" th:value="${inquiry.inquiryNo}"/>
            </form>
            <form name="addInquiryAnswerForm" id="addInquiryAnswerForm" style="display: none;">
                <input type="hidden" name="inquiryNo" th:value="${inquiry.inquiryNo}"/>
                <input type="hidden" name="isAdmin" th:value="${session.member.memberNo}"/>
                <input type="hidden" name="memberNo" th:value="${session.member.memberNo}"/> <!-- 멤버 번호 히든 필드 추가 -->
            </form>
            <!-- 히든 폼 끝 -->

            <!-- 고객센터 헤더 -->
            <div class="row g-0">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="breadcrumb-container mt-3 mb-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-dark">고객센터</a></li>
                                <li class="breadcrumb-item"><a href="/memberInquiry" class="text-decoration-none text-dark">회원 문의</a></li>
                                <li class="breadcrumb-item active" aria-current="page">내 문의글</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- 문의 내용 -->
            <div class="row g-0 mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="fw-bold" th:text="${inquiry.inquiryTitle}">문의 제목</h2>
                        <span class="ml-2 border-left pl-2 text-secondary small" th:text="${#dates.format(inquiry.inquiryRegDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <p th:text="${inquiry.inquiryContent}">문의 내용</p>

                    <!-- 파일 정보 출력 -->
                    <div th:if="${inquiry.inquiryFile != null}" class="g-0 mt-3">
                        <div class="g-0">
                            <p class="g-0">첨부 파일 :
                                <a th:href="@{/files/{filename}(filename=${inquiry.inquiryFile})}" th:text="${inquiry.inquiryFile}" class="btn btn-link"></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <!-- 만족도 버튼 영역 -->
                <div class="row g-0 mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 d-flex justify-content-center">
                        <button id="satisfactionButton" class="btn mr-4" data-inquiry-no="${inquiry.inquiryNo}">
                            <i class="fas fa-thumbs-up"></i> 만족
                        </button>
                        <button id="dissatisfactionButton" class="btn ml-4" data-inquiry-no="${inquiry.inquiryNo}">
                            <i class="fas fa-thumbs-down"></i> 불만족
                        </button>
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-warning mr-2" type="button" id="detailUpdate" value="수정하기"/>
                            <input class="btn btn-danger ml-2" type="button" id="detailDelete" value="삭제하기" />
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <!-- 답변 영역 -->
                <div class="row g-0 mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3 class="fw-bold mb-3">답변</h3>
                        <div class="row g-0 mb-2" th:each="inquiryAnswer : ${inquiryAnswer}">
                            <p class="m-0" id="answerContent" th:text="${inquiryAnswer.inquiryAnswerContent}">답변 내용</p>
                            <span class="ml-2 border-left pl-2 text-secondary small"
                                  th:text="${#dates.format(inquiryAnswer.inquiryAnswerRegDate, 'yyyy-MM-dd HH:mm')}">답변 작성 시간</span>
                        </div>
                        <!--텍스트 폼 시작-->
                        <div class="review-form" id="reviewForm">
                            <div class="form-group">
                                <textarea class="form-control review-textarea" id="reviewText" rows="5" placeholder="답변을 작성하세요" required></textarea>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-end align-items-center mb-3 mt-3">
                                    <button type="button" class="btn btn-primary" id="submitAnswer">답변 등록</button>
                                </div>
                            </div>
                        </div> <!-- 텍스트 폼 끝 -->
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/inquiry.js}"></script>
    </div>
</body>
</html>