<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onestack.project.mapper.QnAMapper">
<!-- QnA 리스트 조회 -->
<select id = "getQnA" resultType = "QnA">
	SELECT q.*, m.*
	FROM QnA q JOIN Member m
		ON q.member_no = m.member_no
	<where>	
		<if test="type == 'title'">
			AND q.qna_board_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'memberNickname'">
			AND m.member_nickname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'content'">
			AND q.qna_board_content LIKE CONCAT('%', #{keyword}, '%')
		</if>	
		<if test="type == 'date'">
			AND q.qna_board_reg_date BETWEEN #{date1} AND #{date2}   
		</if>
	</where>
	ORDER BY q.qna_board_reg_date DESC
</select>

<!-- QnA 게시글 수 조회 -->
<select id="getQnACount" resultType ="int">
	SELECT COUNT(qna_board_no)
	FROM QnA q JOIN Member m
		ON q.member_no = m.member_no
	<where>	
		<if test="type == 'title'">
			AND q.qna_board_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'memberNickname'">
			AND m.member_nickname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'content'">
			AND q.qna_board_content LIKE CONCAT('%', #{keyword}, '%')
		</if>	
		<if test="type == 'date'">
			AND q.qna_board_reg_date BETWEEN #{date1} AND #{date2}   
		</if>
	</where>
</select>

<!-- QnA 추가 -->
<insert id = "addQnA" parameterType = "QnA" useGeneratedKeys = "true" keyProperty = "qnaBoardNo">
	INSERT INTO QnA(member_no, qna_board_title, qna_board_content, qna_file)
	VALUES(#{memberNo}, #{qnaBoardTitle}, #{qnaBoardContent}, #{qnaFile})
</insert>

<!-- QnA 수정 -->
<update id = "updateQnA" parameterType = "QnA">
	UPDATE QnA
	SET qna_board_title = #{qnaBoardTitle}, qna_board_content = #{qnaBoardContent}, qna_file = #{qnaFile}
	WHERE qna_board_no = #{qnaBoardNo}
</update>

<!-- QnA 삭제 -->
<delete id = "deleteQnA" parameterType = "int">
	DELETE FROM QnA
	WHERE qna_board_no = #{qnaBoardNo}
</delete>

<!-- QnA 좋아요 -->
<update id="updateQnARecommend" parameterType = "int">
	UPDATE QnA
	SET qna_board_like = qna_board_like + 1
	WHERE qna_board_no = #{qnaBoardNo}	
</update>

<!-- QnA 댓글 채택 수 조회 -->
<select id = "countAdoption" resultType = "int">
	SELECT COUNT(qna_adoption)
	FROM QnAReply
	WHERE qna_board_no = #{qnaBoardNo}	
</select>

<!-- QnA 게시글 채택 여부 -->
<update id = "updateQnAAdoptionState" parameterType = "int">
	UPDATE QnA
	SET qna_adoption_status = 1
	WHERE qna_board_no = #{qnaBoardNo}
</update>





<!-- QnA 댓글 추가 -->
<insert id = "addQnAReply" parameterType = "QnAReply" useGeneratedKeys = "true" keyProperty = "qnaReplyNo">
	INSERT INTO QnAReply(qna_board_no, member_no, qna_reply_content)
	VALUES(#{qnaBoardNo}, #{memberNo}, #{qnaReplyContent})
</insert>

<!-- QnA 댓글 수정 -->
<update id = "updateQnAReply" parameterType = "QnAReply">
	UPDATE QnAReply
	SET qna_reply_content = #{qnaReplyContent}
	WHERE qna_reply_no = #{qnaReplyNo}
</update>

<!-- QnA 댓글 삭제 -->
<delete id = "deleteQnAReply" parameterType = "int">
	DELETE FROM QnAReply
	WHERE qna_reply_no = #{qnaReplyNo}
</delete>

<!-- QnA 댓글 좋아요 -->
<update id="updateQnAReplyRecommend" parameterType = "int">
	UPDATE QnAReply
	SET	qna_reply_like = qna_reply_like + 1
	WHERE qna_reply_no = #{qnaReplyNo}
</update>

<!-- QnA 댓글 채택 -->
<update id = "updateQnAReplyAdoption" parameterType = "int">
	UPDATE QnAReply
	SET qna_adoption = 1
	WHERE qna_reply_no = #{qnaReplyNo}
</update>




</mapper>